.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fefefe;
  position: relative;
}

.content {
  flex-grow: 1;
  background: #fefefe;
}

.header {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fefefe;
  height: 48px;
  flex-shrink: 0;
}

.navigation {
  bottom: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fefefe;
  height: 48px;
  flex-shrink: 0;
}

.navigationItem {
  margin: 0 0.5em;
}

.navigationItem_active {
  font-weight: bold;
}
