.container {
  text-align: center;
}

.container h2,
.container p {
  margin: 1em 0;
}

.container p {
  font-size: 18px;
  margin: 1em;
}

.container button {
  font-size: 18px;
  padding: 0.5em 1em;
}
