.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.form {
  margin: 40px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form > p,
.form > input,
.form > button {
  font-size: 18px;
  margin: 1em;
  padding: 0.5em;
}

.form ol {
  margin: 0;
}

.form li {
  margin: 0 0 0.5em 0;
}

.bookmarklet {
  border: 1px solid #ccc;
  background: #eee;
  font-size: 10px;
  padding: 1em;
  border-radius: 6px;
  width: 100%;
  white-space: break-spaces;
}

.copyCode {
  position: relative;
  display: initial;
}

.copyCode_notification {
  position: absolute;
  top: -1.4em;
  left: 0.4em;
  background: #fff;
  color: green;
}
